In [1]:
import pandas as pd
student_csv_pd = File =("Resources/students_complete.csv")
student_data =pd.read_csv(student_csv_pd)

school_csv_pd= File =("Resources/schools_complete.csv")
school_data= pd.read_csv(school_csv_pd)

In [2]:
### Create Bins and create new columns with Pass/Fail
reading_bins=[0,69,100]
math_bins=[0,69,100]
overall_bins=[0,69,100]

#Labels
group_names=["Fail","Pass"]
Pass_name=[0,1]

In [3]:
###### Pass / Fail Module  ########

#Reading Pass/Fail and Pass Count
student_data["Reading Pass/Fail"]=pd.cut(student_data["reading_score"],reading_bins,labels=group_names)
student_data["Reading Pass Count"]=pd.cut(student_data["reading_score"],reading_bins,labels=Pass_name)
student_data["Reading Pass Count"]=student_data["Reading Pass Count"].astype('float64')


##Math Pass/Fail and Pass Count
student_data["Math Pass/Fail"]=pd.cut(student_data["math_score"],math_bins,labels=group_names)
student_data["Math Pass Count"]=pd.cut(student_data["math_score"],math_bins,labels=Pass_name)
student_data["Math Pass Count"]=student_data["Math Pass Count"].astype('float64')

####################################
#student_data.columns

In [4]:
###DISTRICT SUMMARY###
#Answer metrics with no Frame
total_schools=school_data["School ID"].count()
total_students=student_data["Student ID"].count()
total_budget=school_data["budget"].sum()
per_student_budget=total_schools/total_budget
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
### Merge School and Student data    ######
data_merged=pd.merge(student_data,school_data,how="left", on=["school_name","school_name"])

#data_merged.columns

In [6]:
### District Counters
Student_counter=data_merged["size"]/data_merged["size"]
data_merged['Students']=Student_counter


Budget_per_student=data_merged["budget"]/data_merged["size"]
data_merged['Budget divided by student']=Budget_per_student

data_merged.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,Reading Pass/Fail,Reading Pass Count,Math Pass/Fail,Math Pass Count,School ID,type,size,budget,Students,Budget divided by student
0,0,Paul Bradley,M,9th,Huang High School,66,79,Fail,0.0,Pass,1.0,0,District,2917,1910635,1.0,655.0
1,1,Victor Smith,M,12th,Huang High School,94,61,Pass,1.0,Fail,0.0,0,District,2917,1910635,1.0,655.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,Pass,1.0,Fail,0.0,0,District,2917,1910635,1.0,655.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,Fail,0.0,Fail,0.0,0,District,2917,1910635,1.0,655.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,Pass,1.0,Pass,1.0,0,District,2917,1910635,1.0,655.0

In [7]:
#All Schools(tot)SCORE:Total Math,Reading with TOTAL avg Math and reading

#Total Math Scores
total_math_scores=student_data["math_score"].sum()
tot_avg_math_score=total_math_scores/total_students
student_data['Tot_Avg_Math']=tot_avg_math_score

#Total Reading Scores
total_read_scores=student_data["reading_score"].sum()
tot_avg_read_score=total_read_scores/total_students
student_data['Tot_Avg_Read']=tot_avg_read_score

#Percentage of students that passed math
total_math_pass=student_data.loc[student_data["Math Pass/Fail"]=="Pass","Math Pass/Fail"]
count_math_pass=total_math_pass.count()
tot_pct_math_pass=(count_math_pass/total_students)*100
student_data['Tot_Math_Pct_Pass']=tot_pct_math_pass

#Percentage of students that passed Reading
total_read_pass=student_data.loc[student_data["Reading Pass/Fail"]=="Pass","Reading Pass/Fail"]
count_read_pass=total_read_pass.count()
tot_pct_read_pass=(count_read_pass/total_students)*100
student_data['Tot_Pct_Pass']=tot_pct_read_pass

#Overall_pass
tot_pct_overeall_pass=(tot_pct_math_pass+ tot_pct_read_pass)/2
student_data['Tot_Overall_Pass_rate']=tot_pct_overeall_pass
#pct_overeall_pass

In [31]:
######################################################         ANSWER 1             ####################################

#Set up summary Dataframe to print metrics from above
frame_df=pd.DataFrame({"Total Schools":[total_schools],"Total Students":[total_students],"Total Budget":[total_budget],
                      "Average Math Score":[tot_avg_math_score],"Average Reading Score":[tot_avg_read_score],
                      "% Passing Math":[tot_pct_math_pass],"% Passing Reading":[tot_pct_read_pass],
                       "Overall_Pass_rate":[tot_pct_overeall_pass]})

frame_df["Total Students"] = frame_df["Total Students"].astype(float).map("{:,.0f}".format)
frame_df["Total Budget"] = frame_df["Total Budget"].astype(float).map("${:,.2f}".format)
frame_df

#Format Columns
###Need to look into later
########################################################################################################################

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall_Pass_rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.393158

In [9]:
A2_Base=data_merged[["school_name","type","Students","Budget divided by student","reading_score","Reading Pass/Fail","Reading Pass Count", 
                     "math_score","Math Pass/Fail", "Math Pass Count","size", "budget","Student ID"]]
A2_Base.head()

,school_name,type,Students,Budget divided by student,reading_score,Reading Pass/Fail,Reading Pass Count,math_score,Math Pass/Fail,Math Pass Count,size,budget,Student ID
0,Huang High School,District,1.0,655.0,66,Fail,0.0,79,Pass,1.0,2917,1910635,0
1,Huang High School,District,1.0,655.0,94,Pass,1.0,61,Fail,0.0,2917,1910635,1
2,Huang High School,District,1.0,655.0,90,Pass,1.0,60,Fail,0.0,2917,1910635,2
3,Huang High School,District,1.0,655.0,67,Fail,0.0,58,Fail,0.0,2917,1910635,3
4,Huang High School,District,1.0,655.0,97,Pass,1.0,84,Pass,1.0,2917,1910635,4

In [10]:
##Group data by school and type
A2_grp_school_type=A2_Base.groupby(["school_name","type"])
A2_grp_school_type_sum=A2_grp_school_type.sum()
A2_grp_school_type_sum.head()

,,Students,Budget divided by student,reading_score,Reading Pass Count,math_score,Math Pass Count,size,budget,Student ID
school_name,type,,,,,,,,,
Bailey High School,District,4976.0,3124928.0,403225,4077.0,383393,3318.0,24760576,15549641728,101303896
Cabrera High School,Charter,1858.0,1081356.0,156027,1803.0,154329,1749.0,3452164,2009159448,31477307
Figueroa High School,District,2949.0,1884411.0,239335,2381.0,226223,1946.0,8696601,5557128039,12949059
Ford High School,District,2739.0,1763916.0,221164,2172.0,211184,1871.0,7502121,4831365924,99055935
Griffin High School,Charter,1468.0,917500.0,123043,1426.0,122360,1371.0,2155024,1346890000,19077394

In [11]:
####Average math & Reading at School level

##School Average math
sch_avg_math_score=A2_grp_school_type_sum["math_score"]/A2_grp_school_type_sum["Students"]
A2_grp_school_type_sum['School Average Math Score']=sch_avg_math_score

##School Average Reading
sch_avg_reading_score=A2_grp_school_type_sum["reading_score"]/A2_grp_school_type_sum["Students"]
A2_grp_school_type_sum['School Average Reading Score']=sch_avg_reading_score

A2_grp_school_type_sum.head()

,,Students,Budget divided by student,reading_score,Reading Pass Count,math_score,Math Pass Count,size,budget,Student ID,School Average Math Score,School Average Reading Score
school_name,type,,,,,,,,,,,
Bailey High School,District,4976.0,3124928.0,403225,4077.0,383393,3318.0,24760576,15549641728,101303896,77.048432,81.033963
Cabrera High School,Charter,1858.0,1081356.0,156027,1803.0,154329,1749.0,3452164,2009159448,31477307,83.061895,83.975780
Figueroa High School,District,2949.0,1884411.0,239335,2381.0,226223,1946.0,8696601,5557128039,12949059,76.711767,81.158020
Ford High School,District,2739.0,1763916.0,221164,2172.0,211184,1871.0,7502121,4831365924,99055935,77.102592,80.746258
Griffin High School,Charter,1468.0,917500.0,123043,1426.0,122360,1371.0,2155024,1346890000,19077394,83.351499,83.816757

In [32]:
###Passing Rates

####  School Reading Pass rate
sch_reading_pass_rate=A2_grp_school_type_sum["Reading Pass Count"]/A2_grp_school_type_sum["Students"]
A2_grp_school_type_sum ['School Reading Pass Rate']=sch_reading_pass_rate*100

####  School Math Pass rate
sch_math_pass_rate=A2_grp_school_type_sum["Math Pass Count"]/A2_grp_school_type_sum["Students"]
A2_grp_school_type_sum ['School Math Pass Rate']=sch_math_pass_rate*100

###School Overall Pass Rate
sch_overall_pass_rate=(sch_reading_pass_rate+sch_math_pass_rate)/2
A2_grp_school_type_sum['School Overall Pass Rate']= sch_overall_pass_rate*100

KeyError: 'Reading Pass Count'

In [13]:
###Budget per Student
sch_budget_per_student=A2_grp_school_type_sum["Budget divided by student"]/A2_grp_school_type_sum["Students"]
A2_grp_school_type_sum['School Budget Per Student']=sch_budget_per_student

In [14]:
A2_grp_school_type_sum=A2_grp_school_type_sum[["Students","Budget divided by student","School Budget Per Student",
                                              "School Average Math Score","School Average Reading Score",
                                              "School Math Pass Rate","School Reading Pass Rate","School Overall Pass Rate"]]
A2_grp_school_type_sum.head()

,,Students,Budget divided by student,School Budget Per Student,School Average Math Score,School Average Reading Score,School Math Pass Rate,School Reading Pass Rate,School Overall Pass Rate
school_name,type,,,,,,,,
Bailey High School,District,4976.0,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739.0,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668

In [15]:
A2_grp_school_type_sum.dtypes

Students                        float64
Budget divided by student       float64
School Budget Per Student       float64
School Average Math Score       float64
School Average Reading Score    float64
School Math Pass Rate           float64
School Reading Pass Rate        float64
School Overall Pass Rate        float64
dtype: object

In [16]:
A2_Answer=A2_grp_school_type_sum
A2_Answer.head()

,,Students,Budget divided by student,School Budget Per Student,School Average Math Score,School Average Reading Score,School Math Pass Rate,School Reading Pass Rate,School Overall Pass Rate
school_name,type,,,,,,,,
Bailey High School,District,4976.0,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739.0,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668

In [17]:
###Format Results
A2_Answer["Students"]=A2_Answer["Students"].map("{:,.0f}".format)
A2_Answer["Budget divided by student"]=A2_Answer["Budget divided by student"].map("${:,.0f}".format)
A2_Answer["School Budget Per Student"]=A2_Answer["School Budget Per Student"].map("${:,.0f}".format)
A2_Answer["School Math Pass Rate"]=A2_Answer["School Math Pass Rate"].map("{:,.6f}".format)
A2_Answer["School Reading Pass Rate"]=A2_Answer["School Reading Pass Rate"].map("{:,.6f}".format)
A2_Answer["School Overall Pass Rate"]=A2_Answer["School Overall Pass Rate"].map("{:,.6f}".format)

In [18]:
A2_Answer_sum=A2_Answer.rename(columns={"Students":"Total Students",
                                                              "Budget divided by student":"Total School Budget",
                                                             "School Budget Per Student":"Per Student Budget",
                                                             "School Average Math Score":"Average Math Score",
                                                             "School Average Reading Score":"Average Reading Score",
                                                             "School Math Pass Rate":"% Passing Math",
                                                             "School Reading Pass Rate":"% Passing Reading",
                                                             "School Overall Pass Rate":"% Overall Passing Rate"})
A2_Answer_sum

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,type,,,,,,,,
Bailey High School,District,"4,976","$3,124,928",$628,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,"2,949","$1,884,411",$639,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,"2,739","$1,763,916",$644,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,"1,468","$917,500",$625,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,"4,635","$3,022,020",$652,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,"$248,087",$581,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,"2,917","$1,910,635",$655,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,"4,761","$3,094,650",$650,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,"$585,858",$609,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,"3,999","$2,547,363",$637,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,"1,761","$1,056,600",$600,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,"1,635","$1,043,130",$638,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,"2,283","$1,319,574",$578,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,"1,800","$1,049,400",$583,83.682222,83.955000,93.333333,96.611111,94.972222

In [19]:
A3_Base=A2_grp_school_type_sum
A3_Base.columns

Index(['Students', 'Budget divided by student', 'School Budget Per Student',
       'School Average Math Score', 'School Average Reading Score',
       'School Math Pass Rate', 'School Reading Pass Rate',
       'School Overall Pass Rate'],
      dtype='object')

In [20]:
##############################  Answer to TOP Schools by Overall Score##############################################
A4_Base_sort_HIGH=A3_Base.sort_values("School Overall Pass Rate",ascending=False)
A4_Base_sort_HIGH.head(5)

,,Students,Budget divided by student,School Budget Per Student,School Average Math Score,School Average Reading Score,School Math Pass Rate,School Reading Pass Rate,School Overall Pass Rate
school_name,type,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,"1,635","$1,043,130",$638,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,"$585,858",$609,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,"1,468","$917,500",$625,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,"2,283","$1,319,574",$578,83.274201,83.989488,93.867718,96.539641,95.203679

In [21]:
A4_Base=A3_Base

In [22]:
##############################  Answer to Bottom Schools by Overall Score##############################################
A5_Base_sort_LOW=A3_Base.sort_values("School Overall Pass Rate",ascending=True)
A5_Base_sort_LOW.head(5)

,,Students,Budget divided by student,School Budget Per Student,School Average Math Score,School Average Reading Score,School Math Pass Rate,School Reading Pass Rate,School Overall Pass Rate
school_name,type,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363",$637,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,"2,949","$1,884,411",$639,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,"2,917","$1,910,635",$655,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,"4,761","$3,094,650",$650,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,"2,739","$1,763,916",$644,77.102592,80.746258,68.309602,79.299014,73.804308

In [23]:
#Create New Table for math_scores
Math_score_bygrade = student_data[["school_name","grade","math_score"]]

## This is how I would do it

In [24]:
# Create data series of scores by grade levels using conditionals
ninth_graders = data_merged[(data_merged["grade"] == "9th")]
tenth_graders = data_merged[(data_merged["grade"] == "10th")]
eleventh_graders = data_merged[(data_merged["grade"] == "11th")]
twelfth_graders = data_merged[(data_merged["grade"] == "12th")]

# Group each by school name
ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

# Combine series into single data frame
scores_by_grade = pd.DataFrame({"9th": ninth_graders_scores, "10th": tenth_graders_scores,
                                "11th": eleventh_graders_scores, "12th": twelfth_graders_scores})

# Minor data munging
scores_by_grade = scores_by_grade[["9th", "10th", "11th", "12th"]]
scores_by_grade.index.name = None

# Display the data frame
scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [25]:
##### 9th grade avg (mean) scores
math9_score=Math_score_bygrade.loc[Math_score_bygrade["grade"]== "9th",["school_name","math_score"]]
math9_score1=math9_score.groupby(["school_name"])
math=math9_score1.mean()
math9=math.rename(columns={"math_score":"9th"})

##### 10th grade avg (mean) scores
math10_score=Math_score_bygrade.loc[Math_score_bygrade["grade"]== "10th",["school_name","math_score"]]
math10_score1=math10_score.groupby(["school_name"])
math10=math10_score1.mean()
math10=math10.rename(columns={"math_score":"10th"})

##### 11th grade avg (mean) scores
math11_score=Math_score_bygrade.loc[Math_score_bygrade["grade"]== "11th",["school_name","math_score"]]
math11_score1=math11_score.groupby(["school_name"])
math11=math11_score1.mean()
math11=math11.rename(columns={"math_score":"11th"})

##### 12th grade avg (mean) scores
math12_score=Math_score_bygrade.loc[Math_score_bygrade["grade"]== "12th",["school_name","math_score"]]
math12_score1=math12_score.groupby(["school_name"])
math12=math12_score1.mean()
math12=math12.rename(columns={"math_score":"12th"})

### Combine all grades
grades_9_10_combine=pd.merge(math9,math10,how="left",on=["school_name"])
grades_11_12_combine=pd.merge(math11,math12,how="left",on=["school_name"])
all_grades=pd.merge(grades_9_10_combine,grades_11_12_combine,how="left", on=["school_name"])
all_grades

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [26]:
#Create New Table for Reading_scores
Reading_score_bygrade = student_data[["school_name","grade","reading_score"]]

In [27]:
##### 9th grade avg (mean) scores
Reading9_score=Reading_score_bygrade.loc[Reading_score_bygrade["grade"]== "9th",["school_name","reading_score"]]
Reading9_score1=Reading9_score.groupby(["school_name"])
Reading=Reading9_score1.mean()
Reading9=Reading.rename(columns={"reading_score":"9th"})

##### 10th grade avg (mean) scores
Reading10_score=Reading_score_bygrade.loc[Reading_score_bygrade["grade"]== "10th",["school_name","reading_score"]]
Reading10_score1=Reading10_score.groupby(["school_name"])
Reading10=Reading10_score1.mean()
Reading10=Reading10.rename(columns={"reading_score":"10th"})

##### 11th grade avg (mean) scores
Reading11_score=Reading_score_bygrade.loc[Reading_score_bygrade["grade"]== "11th",["school_name","reading_score"]]
Reading11_score1=Reading11_score.groupby(["school_name"])
Reading11=Reading11_score1.mean()
Reading11=Reading11.rename(columns={"reading_score":"11th"})

##### 12th grade avg (mean) scores
Reading12_score=Reading_score_bygrade.loc[Reading_score_bygrade["grade"]== "12th",["school_name","reading_score"]]
Reading12_score1=Reading12_score.groupby(["school_name"])
Reading12=Reading12_score1.mean()
Reading12=Reading12.rename(columns={"reading_score":"12th"})

### Combine all grades
Rgrades_9_10_combine=pd.merge(Reading9,Reading10,how="left",on=["school_name"])
Rgrades_11_12_combine=pd.merge(Reading11,Reading12,how="left",on=["school_name"])
Rall_grades=pd.merge(Rgrades_9_10_combine,Rgrades_11_12_combine,how="left", on=["school_name"])
Rall_grades

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [28]:
A_Score_by_spending=A2_grp_school_type
#A2_grp_school_type
A_Score_by_spending.head()

,school_name,type,Students,Budget divided by student,reading_score,Reading Pass/Fail,Reading Pass Count,math_score,Math Pass/Fail,Math Pass Count,size,budget,Student ID
0,Huang High School,District,1.0,655.0,66,Fail,0.0,79,Pass,1.0,2917,1910635,0
1,Huang High School,District,1.0,655.0,94,Pass,1.0,61,Fail,0.0,2917,1910635,1
2,Huang High School,District,1.0,655.0,90,Pass,1.0,60,Fail,0.0,2917,1910635,2
3,Huang High School,District,1.0,655.0,67,Fail,0.0,58,Fail,0.0,2917,1910635,3
4,Huang High School,District,1.0,655.0,97,Pass,1.0,84,Pass,1.0,2917,1910635,4
2917,Figueroa High School,District,1.0,639.0,85,Pass,1.0,87,Pass,1.0,2949,1884411,2917
2918,Figueroa High School,District,1.0,639.0,97,Pass,1.0,84,Pass,1.0,2949,1884411,2918
2919,Figueroa High School,District,1.0,639.0,67,Fail,0.0,77,Pass,1.0,2949,1884411,2919
2920,Figueroa High School,District,1.0,639.0,97,Pass,1.0,64,Fail,0.0,2949,1884411,2920
2921,Figueroa High School,District,1.0,639.0,79,Pass,1.0,64,Fail,0.0,2949,1884411,2921
5866,Shelton High School,Charter,1.0,600.0,70,Pass,1.0,91,Pass,1.0,1761,1056600,5866
5867,Shelton High School,Charter,1.0,600.0,84,Pass,1.0,71,Pass,1.0,1761,1056600,5867
5868,Shelton High School,Charter,1.0,600.0,95,Pass,1.0,99,Pass,1.0,1761,1056600,5868
5869,Shelton High School,Charter,1.0,600.0,76,Pass,1.0,95,Pass,1.0,1761,1056600,5869
5870,Shelton High School,Charter,1.0,600.0,71,Pass,1.0,82,Pass,1.0,1761,1056600,5870
7627,Hernandez High School,District,1.0,652.0,70,Pass,1.0,88,Pass,1.0,4635,3022020,7627
7628,Hernandez High School,District,1.0,652.0,97,Pass,1.0,93,Pass,1.0,4635,3022020,7628
7629,Hernandez High School,District,1.0,652.0,83,Pass,1.0,81,Pass,1.0,4635,3022020,7629
7630,Hernandez High School,District,1.0,652.0,77,Pass,1.0,91,Pass,1.0,4635,3022020,7630
7631,Hernandez High School,District,1.0,652.0,84,Pass,1.0,93,Pass,1.0,4635,3022020,7631
12262,Griffin High School,Charter,1.0,625.0,79,Pass,1.0,68,Fail,0.0,1468,917500,12262
12263,Griffin High School,Charter,1.0,625.0,91,Pass,1.0,81,Pass,1.0,1468,917500,12263
12264,Griffin High School,Charter,1.0,625.0,78,Pass,1.0,89,Pass,1.0,1468,917500,12264
12265,Griffin High School,Charter,1.0,625.0,91,Pass,1.0,85,Pass,1.0,1468,917500,12265
12266,Griffin High School,Charter,1.0,625.0,76,Pass,1.0,83,Pass,1.0,1468,917500,12266
13730,Wilson High School,Charter,1.0,578.0,84,Pass,1.0,71,Pass,1.0,2283,1319574,13730
13731,Wilson High School,Charter,1.0,578.0,72,Pass,1.0,87,Pass,1.0,2283,1319574,13731
13732,Wilson High School,Charter,1.0,578.0,97,Pass,1.0,82,Pass,1.0,2283,1319574,13732
13733,Wilson High School,Charter,1.0,578.0,93,Pass,1.0,68,Fail,0.0,2283,1319574,13733
13734,Wilson High School,Charter,1.0,578.0,79,Pass,1.0,72,Pass,1.0,2283,1319574,13734
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23274,Pena High School,Charter,1.0,609.0,91,Pass,1.0,75,Pass,1.0,962,585858,23274
23275,Pena High School,Charter,1.0,609.0,94,Pass,1.0,76,Pass,1.0,962,585858,23275
23276,Pena High School,Charter,1.0,609.0,98,Pass,1.0,91,Pass,1.0,962,585858,23276
23277,Pena High School,Charter,1.0,609.0,78,Pass,1.0,71,Pass,1.0,962,585858,23277
23278,Pena High School,Charter,1.0,609.0,87,Pass,1.0,92,Pass,1.0,962,585858,23278
24236,Wright High School,Charter,1.0,583.0,89,Pass,1.0,72,Pass,1.0,1800,1049400,24236
24237,Wright High School,Charter,1.0,583.0,84,Pass,1.0,93,Pass,1.0,1800,1049400,24237
24238,Wright High School,Charter,1.0,583.0,88,Pass,1.0,88,Pass,1.0,1800,1049400,24238
24239,Wright High School,Charter,1.0,583.0,75,Pass,1.0,84,Pass,1.0,1800,1049400,24239
24240,Wright High School,Charter,1.0,583.0,93,Pass,1.0,82,Pass,1.0,1800,1049400,24240
26036,Rodriguez High School,District,1.0,637.0,74,Pass,1.0,81,Pass,1.0,3999,2547363,26036
26037,Rodriguez High School,District,1.0,637.0,80,Pass,1.0,86,Pass,1.0,3999,2547363,26037
26038,Rodriguez High School,District,1.0,637.0,97,Pass,1.0,62,Fail,0.0,3999,2547363,26038
26039,Rodriguez High School,District,1.0,637.0,79,Pass,1.0,73,Pass,1.0,3999,2547363,26039
26040,Rodriguez High School,District,1.0,637.0,96,Pass,1.0,92,Pass,1.0,3999,2547363,26040
30035,Johnson High School,District,1.0,650.0,87,Pass,1.0,87,Pass,1.0,4761,3094650,30035
30036,Johnson High School,District,1.0,650.0,98,Pass,1.0,62,Fail,0.0,4761,3094650,30036
30037,Johnson High School,District,1.0,650.0,89,Pass,1.0,77,Pass,1.0,4761,3094650,30037
30038,Johnson High School,District,1.0,650.0,66,Fail,0.0,85,Pass,1.0,4761,3094650,30038
30039,Johnson High School,District,1.0,650.0,63,Fail,0.0,85,Pass,1.0,4761,3094650,30039
34796,Ford High School,District,1.0,644.0,66,Fail,0.0,94,Pass,1.0,2739,1763916,34796
34797,Ford High School,District,1.0,644.0,68,Fail,0.0,63,Fail,0.0,2739,1763916,34797
34798,Ford High School,District,1.0,644.0,73,Pass,1.0,59,Fail,0.0,2739,1763916,34798
34799,Ford High School,District,1.0,644.0,88,Pass,1.0,58,Fail,0.0,2739,1763916,34799
34800,Ford High School,District,1.0,644.0,96,Pass,1.0,55,Fail,0.0,2739,1763916,34800
37535,Thomas High School,Charter,1.0,638.0,76,Pass,1.0,76,Pass,1.0,1635,1043130,37535
37536,Thomas High School,Charter,1.0,638.0,84,Pass,1.0,82,Pass,1.0,1635,1043130,37536
37537,Thomas High School,Charter,1.0,638.0,80,Pass,1.0,90,Pass,1.0,1635,1043130,37537
37538,Thomas High School,Charter,1.0,638.0,71,Pass,1.0,69,Fail,0.0,1635,1043130,37538
37539,Thomas High School,Charter,1.0,638.0,86,Pass,1.0,76,Pass,1.0,1635,1043130,37539

In [29]:
##create and segregated data into spending bins

#Create Bins for school Spending
Sch_spending_amt_bins = [0, 585, 615, 645, 675]
Sch_spending_lab_bins = ["<$585", "$585-615", "$615-645", "$645-675"]

A_Score_by_spending["Spending Buckets"]=pd.cut(A_Score_by_spending["Budget divided by student"],Sch_spending_amt_bins,labels=Sch_spending_lab_bins)

ValueError: setting an array element with a sequence

In [ ]:
A_Score_grp_spending=A_Score_by_spending.groupby(["Spending Buckets"])
A_Score_grp_spending_sum=A_Score_grp_spending.mean()
A_Score_grp_spending_sum

#A_Score_grp_spending["Average Math Score"]

In [ ]:
spending_less_585=test.loc[A3_Base["Per Student Budget"]== "<$585",["School Avg Math Score","School Avg Reading Score",
                                                               "School Avg Overall Score"]]
spending_less_585

In [ ]:
rollup_585=spending_less_585.mean()
rollup_585
#Missing % passing reading, % passing math, and %

In [ ]:
##Need to put above into Dataframe